
body {
    background-color: cyan;
}
h1 {
    color: black;
    text-align: center;
    font-family: serif verdana;
    font-size: 60px
}
h3{
	color: orange;
	text-align: center;
	font-family: serif verdana;
	font-size: 50px
}
p {
    font-family: sans-serif tahoma;
    font-size: 32px;
}